@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Shadows+Into+Light&display=swap');
/*font-family: 'Dongle', sans-serif;
font-family: 'Shadows Into Light', cursive;*/

* {
  box-sizing: border-box;
}

.grid-container{
  display: grid;
  grid-template-areas:
  'one one'
  'two two'
  'three three'
  'four four';
}

#one{
  background-color: #eeb21d;
  grid-area: one;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
}

#two{
  background-color: brown;
  grid-area: two;
  height: 400px;
  padding: 20px;
  text-align: center;

}

#three{
  background-color: crimson;
  grid-area: three;
  text-align: center;
}

#four{
  background-color: darkgreen;
  grid-area: four;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.column{
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row {
  margin: 0 -5px;
  display: flex;
}
 
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
  .header{
    width: 40%;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}