@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}




#animalDetails .btn-close {
    display: none;
}
#petConfirm .btn-close {
  display: none;
}

.modal-content {
    background-image: url(/assets/images/subtle-prism\ \(1\).svg);
}

.title {
    color: #FF5733;
}

.details {
    color: #000;
    font-family: 'Mali', cursive;
    font-size: 1.5vw;
}

.modal-header {
    color: #FF5733;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    font-family: 'Mali', cursive;
    font-size: 2.15vw;
}
.form-label {
  color: #FF5733;
  font-family: 'Mali', cursive;
}

.line {
    border-bottom: 5px solid #FF5733;
}

#cancel:hover {
    background-color: #000;
}

#confirm {
    color: #000;
    background-color: #F1C40F;
}
.fw-bold {
  color: #FF5733;
  font-family: 'Shadows Into Light', cursive;
}

#confirm:hover {
    background-color: #FF5733;
}

html,
body,
.intro {
  height: 100%;
}

@media (min-width: 550px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

a.link {
  font-size: .875rem;
  color: #6582B0;
}
a.link:hover, 
a.link:active {
  color: #426193;
}
#location {
  display: none;
}